<h1>Productos</h1>

<p class="actions">
  <%= link_to "Nuevo producto", new_producto_path, class: "btn primary" %>
  
</p>

<% if @productos.blank? %>
  <div class="card">No hay productos registrados.</div>
<% else %>
  <table class="table">
    <thead><tr><th>ID</th><th>Nombre</th><th>Referencia</th><th>Acciones</th></tr></thead>
    <tbody>
      <% @productos.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.nombre %></td>
          <td><%= p.referencia %></td>
          <td><%= p.descripcion %></td>
          <td class="actions">
            <%= link_to "Ver", p %>
            <%= link_to "Editar", edit_producto_path(p) %>
            <%= link_to "Mov.", new_movement_producto_path(p) %>
            <%= button_to "Eliminar", p, method: :delete, form: { data: { turbo_confirm: "¿Eliminar?" } } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>